main {
    padding-top: 90px;
    padding-bottom: 50px;
}

.orders>p {
    margin-top: 40px;
    padding: 10px 0;
    background-color: #dcdcdc;
}

.item_img {
    float: left;
    margin-right: 20px;
}

.history_info {
    display: flex;
}

.history_info p {
    flex: 1;
}

.history_info form {
    flex: 2;
}

span {
    color: #ff0000;
}


/* スマホ用 */
@media screen and (max-width: 599px) {
    
    main {
        padding-top: 60px;
    }
    
    .history_info {
        display: block;
    }
    
    .history_info p {
        margin: 5px 0;
    }
}