main {
    padding-top: 60px;
    padding-bottom: 20px;
}

.err_msg {
    text-align: center;
}

.sample_user {
    width: 50%;
    margin: 0 auto;
    border: solid 1px #daa520;
    background-color: #ffffe0;
    border-radius: 10px;
}

.sample_user p {
    text-align: center;
}

.form {
    width: 300px;
    height: 130px;
    margin: 60px auto;
}

.login {
    float: left;
}

a {
    float: right;
    color: #000000;
    line-height: 28px;
    padding: 0 5px;
}

.item {
    text-align: center;
}


/* スマホ用 */
@media screen and (max-width: 599px) {
    
    .main_view {
        height: 200px;
    }
}